name: docs
on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - '.github/workflows/docs.yaml'
      - 'mkdocs.yml'

permissions:
  contents: write
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
      - name: Install mkdocs
        run: |
          pip install mkdocs-material
          pip install mkdocs-video
      - name: Generate docs artifacts
        run: mkdocs build -s -d /tmp/docs
      - uses: actions/checkout@v2
        with:
          ref: gh-pages
          path: gh-pages
      - name: Publish docs artifacts to gh-pages
        run: |
          cd gh-pages
          shopt -s extglob
          rm -rf !(index.yaml|LICENSE|*.tgz)
          cp -R /tmp/docs/** .
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Publish docs from $GITHUB_SHA"
          git push https://github.com/$GITHUB_REPOSITORY.git gh-pages