name: Lint Commit
on: pull_request
jobs:
  conventional:
    name: Conventional Commit Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - uses: taskmedia/action-conventional-commits@v1.1.8
        with:
          token: ${{ github.token }}
          types: "fix|feat|revert|ci|docs|chore"
